<h2>  <%= @book.title %> </h2>
<h3>   <%= @book.author %></h3>
<h4> Category: <%= @book.category.name %></h4>
<h2> Average Rating</h2>
<div class="average-review-rating" data-score=<%= @average_review %>></div>
<span> Based on <%= @book.reviews.count %> reviews</span>
<h3>   <%= @book.description %></h3>


<div class="row">
  <div class ="col-md-4" >

    <%= render @book.reviews %>

    <div>
      <%= link_to "Add review", new_book_review_path(@book) %>
    </div>
  </div>
</div>

<%= link_to "Back", root_path %>


<% if user_signed_in? %>
 <% if @book.user_id == current_user.id %>
  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "are you sure?!!!"} %>
 <% end %>
<% end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

  <script>
    $('.average-review-rating').raty({
      readOnly: true,
      score: function(){
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
  </script>